.navigation-links3-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links3-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links3-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links3-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links3-text4 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links3-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links3-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links3-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
  object-fit: cover;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.home-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.home-burger-menu {
  display: none;
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image01 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container02 {
  width: 100%;
  height: 993px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1542751371-adc38448a05e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGdhbWluZ3xlbnwwfHx8fDE2NTE5NzQ3MjY&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
  border-color: rgba(255, 253, 253, 0);
  border-style: dashed;
  border-width: 2px;
}
.home-text {
  color: var(--dl-color-gray-white);
}
.home-text01 {
  color: var(--dl-color-gray-white);
}
.home-link03 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.home-text04 {
  font-style: normal;
  font-weight: 800;
}
.home-text05 {
  font-style: normal;
  font-weight: 800;
}
.home-text06 {
  font-style: normal;
  font-weight: 800;
}
.home-text07 {
  font-style: normal;
  font-weight: 800;
}
.home-link04 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.home-text08 {
  font-style: normal;
  font-weight: 800;
}
.home-link05 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.home-text09 {
  font-style: normal;
  font-weight: 800;
}
.home-link06 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.home-text10 {
  font-style: normal;
  font-weight: 800;
}
.home-link07 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.home-text11 {
  font-style: normal;
  font-weight: 800;
}
.home-link08 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.home-text12 {
  font-style: normal;
  font-weight: 800;
}
.home-link09 {
  color: var(--dl-color-gray-white);
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
}
.home-text13 {
  font-style: normal;
  font-weight: 800;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-link10 {
  display: contents;
}
.home-container05 {
  width: var(--dl-size-size-maxwidth);
  height: 494px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
.home-container06 {
  flex: 0 0 auto;
  width: 145px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image02 {
  width: 145px;
  height: 96px;
  object-fit: cover;
}
.home-image03 {
  width: 100%;
  height: 102px;
  object-fit: cover;
}
.home-container07 {
  flex: 0 0 auto;
  width: 147px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-button {
  width: 147px;
  height: 100px;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.home-button1 {
  width: 148px;
  height: 104px;
  font-size: 28px;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  padding-right: 109px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #ffffff;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: none;
  align-items: flex-start;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: none;
  align-items: flex-start;
}
.home-image04 {
  width: 138px;
  height: 95px;
  object-fit: cover;
}
.home-button2 {
  width: 18px;
  height: 95px;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  padding-top: 28px;
  padding-right: 162px;
  letter-spacing: 2px;
  text-decoration: none;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: none;
  align-items: flex-start;
}
.home-image05 {
  width: 137px;
  height: 98px;
  object-fit: cover;
}
.home-button3 {
  width: 188px;
  height: 104px;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container13 {
  width: var(--dl-size-size-maxwidth);
  height: 482px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;
}
.home-image06 {
  width: 161px;
  height: 115px;
  object-fit: cover;
}
.home-link11 {
  width: 160px;
  height: 115px;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
}
.home-container14 {
  flex: 0 0 auto;
  width: 100px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 122px;
  display: none;
  align-items: flex-start;
}
.home-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image07 {
  width: 189px;
  height: 121px;
  object-fit: cover;
}
.home-link12 {
  width: 187px;
  height: 117px;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container17 {
  flex: 0 0 auto;
  width: 1419px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-image08 {
  width: 186px;
  height: 118px;
  object-fit: cover;
}
.home-link13 {
  width: 179px;
  height: 117px;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
}
.home-container18 {
  flex: 0 0 auto;
  width: 81px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: none;
  align-items: flex-start;
}
.home-image09 {
  width: 212px;
  height: 108px;
  object-fit: cover;
}
.home-button4 {
  width: 195px;
  height: 117px;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image10 {
  height: 2rem;
  object-fit: cover;
}
.home-icon-group2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .home-icon06 {
    display: flex;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text17 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-icon-group {
    display: none;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text17 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
